<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand">{{ "Title" | translate: user }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="../list-experts">
            Favorite experts
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-link"
            >{{ "Connect" | translate: user }}
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">{{ "Logout" | translate: user }}</a>
        </li>
        <li class="nav-item">
          <input
            type="image"
            src="/assets/image/hungary.svg"
            (click)="switchLanguage('hu')"
            class="btn"
          />
        </li>
        <li class="nav-item">
          <input
            type="image"
            src="/assets/image/english.svg"
            (click)="switchLanguage('en')"
            class="btn"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Full Page Image Header with Vertically Centered Content -->
<header
  class="masthead {
          background: rgba(0, 0, 0, 0.5);
        }"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <div class="bestSnippArea1077 d-flex justify-content-center">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="bsBox">
              <div class="dgCard">
                <div class="strip-block">
                  <div class="profile-logo">
                    <img alt="/assets/image/tool1.jpg" [src]="user.imageUrl" />
                  </div>
                  <div class="strip"></div>
                  <div class="short-details">
                    <h4 class="tagLine">{{ user.name }}</h4>
                    <blockquote class="quote">
                      {{ user.email }}
                    </blockquote>
                  </div>
                </div>
                <div class="details">
                  <div *ngIf="isAddressBlank(); else Address">
                    <a routerLink="../add-address" class="round-shape name">
                      Add address
                    </a>
                  </div>
                  <ng-template #Address>
                    <div class="nameBlock">
                      <a routerLink="../add-address" class="round-shape name">
                        Address
                      </a>
                      <div class="divider">
                        <blockquote class="quote">
                          {{ user.address.country }}
                        </blockquote>
                        <blockquote class="quote">
                          {{ user.address.city }}
                        </blockquote>
                        <blockquote class="quote">
                          {{ user.address.street }}
                        </blockquote>
                        <blockquote class="quote">
                          {{ user.address.number }}
                        </blockquote>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="details">
                  <div class="nameBlock">
                    <a routerLink="../list-experts" class="round-shape name">
                      Favorite experts
                    </a>
                    <div class="divider">
                      <div *ngFor="let expert of favoriteExperts">
                        <a href="#">
                          <blockquote class="quote">
                            <span
                              >{{ expert.name }} -
                              {{ expert.profession[0] }}</span
                            >
                          </blockquote>
                        </a>
                      </div>

                      <div class="stick stick1"></div>
                      <div class="stick stick2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light"></h2>
    <p></p>
  </div>
</section>
