    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="masthead {
      background: rgba(0, 0, 0, 0.5);
    }">
    <div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-12 text-center">
 
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
  <div class="container h-100">
  <div class="row h-100 align-items-center">
  <div class="col-12 text-center">
    <h1 translate></h1>
  <p class="lead">Welcome</p>
  <ul>
      
  </ul>
  </div>
  </div>
  </div>
  </header>
