<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          <h5><img class="card-img" alt="profile picture" [src]="user.imageUrl" /></h5>
          <h5>{{user.name}}</h5>
        </div>
        <div class="card-body">
          <h6>{{user.email}}</h6>
          <h6>{{user.address.country}}, {{user.address.city}} {{user.address.street}} {{user.address.number}}</h6>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-header">
          {{expert.name}}
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>
