<ul class="andorCSSAnitaMajdKijavitja">
  <div>
    <button (click)="switchToMap()">{{'Map' | translate}}</button>
  </div>
  <div class="andorCSSAnitaMajdKijavitja" *ngIf="!isMapView">
  <div>
    <button (click)="getFavoriteExperts()">{{'Favorite experts' | translate}}</button>
  </div>
  <div>
    <button (click)="getAllExperts()">{{'All experts' | translate}}</button>
  </div>
 
  <div>
    <button (click)="sortByNameASC()">A-Z</button>
  </div>
  <div>
    <button (click)="sortByNameDESC()">Z-A</button>
  </div>
  <div>
    <button (click)="sortByDistanceASC()">{{'Distance A_Z' | translate}}</button>
  </div>
  <div>
    <button (click)="sortByDistanceDESC()">{{'Distance Z-A'| translate}}</button>
  </div>
</div>
  
</ul>

<input id="searchinput" type="text" name="find" [(ngModel)]="keyWords" (ngModelChange)="keyWordtextChanged()" list="expertSuggestions" autofocus>
<datalist id="expertSuggestions">
  <option *ngFor="let item of suggestTerm">{{item}}</option>
</datalist>

<div *ngIf="isMapView; else expertList">
  <app-map [experts]="experts"></app-map>
</div>
<ng-template #expertList>

      <div id="f1_container"></div>
      <div class="flex">
        <div *ngFor="let expert of experts">
          <app-expert
            [expert]="expert"
            [isFavoriteExpert]="isFavoriteExpert(expert)"
          ></app-expert>
        
    </div>
    </div>
  </ng-template>

