
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">{{'Title' | translate:user}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link" *ngIf = "!isLoggedin()" href="http://localhost:8080/oauth2/authorize/google?redirect_uri=http://localhost:4200/oauth2/redirect" >{{'Login' | translate:user}} <span class="sr-only">(current)</span></a>
            </li>
        <li class="nav-item active">
          <a class="nav-link" *ngIf = "isLoggedin()" routerLink="/profile" routerLinkActive="active">{{'Profile' | translate:user}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf = "isLoggedin()" routerLink="/add" routerLinkActive="active">{{'Add expert' | translate:user}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf = "isLoggedin()" routerLink="/list-experts" routerLinkActive="active">{{'List expert' | translate:user}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" *ngIf = "isLoggedin()" href="#">{{'Logout' | translate:user}}</a>
        </li>
        <li class="nav-item">
            <input type="image" src="/assets/image/hungary.svg" (click)="switchLanguage('hu')" class="btn" />
        </li>
         <li class="nav-item">
            <input type="image" src="/assets/image/english.svg" (click)="switchLanguage('en')" class="btn" />
        </li>
      </ul>