
<!-- Full Page Image Header with Vertically Centered Content -->

<div class="row align-items-center">
<div class="col-12 text-center">
  <div class="row justify-content-center align-items-center">
    <form #myForm="ngForm">
      <div *ngIf="showAlert">
        <br>
        <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true"><h5>{{'Invalid address' | translate}}</h5></ngb-alert>
      </div>
      <h5>{{'Expert name' | translate}}:</h5>
      <input 
        class="form-control"
        type="text"
        size="26"
        name="name"
        #RefName="ngModel"
        [(ngModel)]="expert.name"
        minlength=4 maxlength=25 required>
        <div *ngIf="RefName.invalid && RefName.touched; else space">
          <h6>{{'required' | translate}}</h6></div>
          <ng-template #space>
            <h6> </h6>
          </ng-template>

      <h5>{{'Country' | translate}}:</h5>
      <input
        class="form-control"
        type="text"
        size="26"
        name="country"
        #RefCountry="ngModel"
        [(ngModel)]="expert.address.country"
        minlength=4 maxlength=25 required>
        <div *ngIf="RefCountry.invalid && RefCountry.touched; else space">
          <h6>{{'required' | translate}}</h6></div>
          <ng-template #space>
            <br>
          </ng-template>
      <h5>{{'City' | translate}}:</h5>
      <input
        class="form-control"
        type="text"
        size="26"
        name="city"
        #RefCity="ngModel"
        [(ngModel)]="expert.address.city" 
        minlength=4 maxlength=25 required>
        <div *ngIf="RefCity.invalid && RefCity.touched; else space">
          <h6>{{'required' | translate}}</h6></div>
          <ng-template #space>
            <br>
          </ng-template>
      <h5>{{'Street' | translate}}:</h5>
      <input
        class="form-control"
        type="text"
        size="26"
        name="street"
        #RefStreet="ngModel"
        [(ngModel)]="expert.address.street"
        minlength=4 maxlength=45 required>
        <div *ngIf="RefStreet.invalid && RefStreet.touched; else space">
          <h6>{{'requiredLong' | translate}}</h6></div>
          <ng-template #space>
            <br>
          </ng-template>
      <h5>{{'House number' | translate}}:</h5>
      <input
        class="form-control"
        type="text"
        size="26"
        name="number"
        #RefNumber="ngModel"
        [(ngModel)]="expert.address.number"
        minlength=1 maxlength=15 required>
        <div *ngIf="RefNumber.invalid && RefNumber.touched; else space">
          <h6>{{'requiredNumber' | translate}}</h6></div>
          <ng-template #space>
            <br>
          </ng-template>
      <h5>{{'Profession' | translate}}:</h5>
      <input
        class="form-control"
        type="text"
        size="26"
        name="profession"
        #RefProfession="ngModel"
        [(ngModel)]="profession"
        minlength=4 maxlength=25 required>
        <div *ngIf="RefProfession.invalid && RefProfession.touched; else space">
          <h6>{{'required' | translate}}</h6></div>
      <button type="button" name="saveProfession" class="btn btn-light" 
      (click)="addProfession()">{{ 'Add profession' | translate}}</button>
      <div *ngIf="expert.profession.length > 0">
      <div *ngFor="let prof of expert.profession">
        <p id="paragraph">
         - {{prof}}
        </p>
      </div>
    </div>
      <h5>{{'Phone' | translate}}:</h5>
      <input
        class="form-control"
        type="text"
        size="26"
        name="phone"
        #RefPhone="ngModel"
        [(ngModel)]="expert.phone"
        minlength=4 maxlength=25 required>
        <div *ngIf="RefPhone.invalid && RefPhone.touched; else space">
          <h6>{{'required' | translate}}</h6></div>
          <ng-template #space>
            <br>
          </ng-template>
      <button type="button" name="save" class="btn btn-light" (click)="addExpert()">{{ 'Add expert' | translate}}</button>

    </form> 
    
  </div> 
</div>



