<nav class="navbar navbar-expand-lg transparent navbar-light">
    <div class="container">
    <a class="navbar-brand" href="#">{{'Title' | translate:user}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
    
    <li class="nav-item">
        <a class="nav-link" href="#">{{ "Logout" | translate: user }}</a>
      </li>
    <li class="nav-item">
    <input type="image" src="/assets/image/hungary.svg" (click)="switchLanguage('hu')" class="btn" />
    </li>
    <li class="nav-item">
    <input type="image" src="/assets/image/english.svg" (click)="switchLanguage('en')" class="btn" />
    </li>
    </ul>
    </div>
    </div>
    </nav>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
<div class="container">
<div class="row align-items-center">
<div class="col-12 text-center">
  <div class="row justify-content-center align-items-center">
    <form>
      <h5>{{ "Expert name" | translate: user }}:</h5>
      <input class="form-control"
        type="text"
        name="name"
        [(ngModel)]="expert.name"
      />
      <h5>{{ "Country" | translate: user }}:</h5>
      <input
        class="form-control"
        type="text"
        name="country"
        [(ngModel)]="expert.address.country"
      />
      <h5>{{ "City" | translate: user }}:</h5>
      <input
        class="form-control"
        type="text"
        name="city"
        [(ngModel)]="expert.address.city" 
      />
      <h5>{{ "Street" | translate: user }}:</h5>
      <input
        class="form-control"
        type="text"
        name="street"
        [(ngModel)]="expert.address.street"
      />
      <h5>{{ "Number" | translate: user }}:</h5>
      <input
        class="form-control"
        type="text"
        name="number"
        [(ngModel)]="expert.address.number"
      />
      <h5>{{ "Profession" | translate: user }}:</h5>
      <input
        class="form-control"
        type="text"
        name="profession"
        [(ngModel)]="profession"
      />
      <button type="button" name="saveProfession" class="btn btn-light" 
      (click)="addProfession()">{{ "Add profession" | translate: user }}</button>
      <div *ngIf="expert.profession.length > 0">
      <div *ngFor="let prof of expert.profession">
        <p id="paragraph">
         - {{prof}}
        </p>
      </div>
    </div>
      <h5>{{ "Phone" | translate: user }}:</h5>
      <input
        class="form-control"
        type="text"
        name="phone"
        [(ngModel)]="expert.phone"
      />
      <button type="button" name="save" class="btn btn-light" (click)="addExpert()">{{ "Add expert" | translate: user }}</button>
    </form> 
    
  </div> 
</div>
</div>
</div>

</header>