<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top">
  <div class="container">
  <a class="navbar-brand" href="#">{{'Title' | translate:user}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
  <li class="nav-item active">
  <a class="nav-link" href="#">{{'Connect' | translate:user}}
  <span class="sr-only">(current)</span>
  </a>
  <li class="nav-item">
  <a class="nav-link" href="#">{{'Login' | translate:user}}</a>
  </li>
  <button (click)="switchLanguage('en')" class="btn btn-primary" type="button">en</button>
  <button (click)="switchLanguage('hu')" class="btn btn-primary" type="button">hu</button>
  </ul>
  </div>
  </div>
  </nav>
  
  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
  <div class="container h-100">
  <div class="row h-100 align-items-center">
  <div class="col-12 text-center">
    <h1 translate>Title</h1>
  <p class="lead">{{ 'Intro' | translate:user }}</p>
  </div>
  </div>
  </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
  <div class="container">
  <h2 class="font-weight-light"></h2>
  <p></p>
  </div>
  </section>
