.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('src/assets/image/background3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-weight: bold
    }
    
    .navbar{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    background-color: #fff
    }
    
    .font-weight-light{
    font-size: 60px;
    font-weight: bold
    }