.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('src/assets/image/background4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Poppins,sans-serif;
    font-size: 30px;
    color: #fff;
    opacity: 1;
    z-index: -10;
    
    
    }

   /* .overlay{
        background-color: rgba(1, 50, 67, 0.6);
        height: 100%;
        width: 100%;
        z-index: -5;
        } */

      
    .navbar{
    
    background-color:orange;
   font-family: Poppins,sans-serif; font-size: 20px;
    height: 80px;
    box-shadow: 0 20px 10px 5px black;
    }

    .font-weight-light{
    font-size: 40px;
    font-weight: bold;
    }

    .btn{
       margin-right: 15px;
    }

    a.nav-link{
        color: #fff !important;
    }

    .navbar-brand{
        color: #fff;
        padding: 10px;
    }

   

   /* .py-5{
        background-color: orange;
    }  */

