
    <div class="col-12">
<div class="card">             
        <div class="card-body">
          <div class="userPicture">
              <img class="col-10" alt="profile picture" [src]="user.imageUrl" />
          </div>
          <br>
          <div class="logoName">{{ user.name}}
          </div>
         
          
            
            
          </div>
          
          
          <button class="btn" (click)="getExperts()">{{'Experts' | translate}}</button>
          <button class="btn" (click)="commonExperts()">{{'Common Experts' | translate}}</button>
  </div>
</div>
