
<div>
    <button>{{'Search' | translate}}</button>
    <button>{{'All users' | translate}}</button>
</div>
<div class="flex" *ngIf="listOrSearch===false">
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
    </form>
</div>
<div class="flex" *ngIf="listOrSearch===true">
    <p>{{'List of users' | translate}}</p>
  <div *ngFor="let user of users">
    <app-user [user]="user"></app-user>
  </div> 
</div>