
.nav-link{
    color:  white !important;
}

.card{
  background-color: #1F3044;
  color: white;
  box-shadow: 0 1px 20px 20px rgba(202, 21, 178, 0.1);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
 
}

.favoriteExpert {
  border-color: tomato !important;
  border-width: 3px !important;
}

.btn {
  background-color: rgb(151, 39, 151) ;
  color: white ;
 
  border-radius: 25px 25px 25px 25px;
}

